*,
*:before,
*:after {
    box-sizing: border-box;
}

input[type=text] {
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border: 2px solid #eee;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    width: 35%;
}

textarea {
    width: 80%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 300px;
    font-size: 30px;
    color: #941750;
    text-align: center;
}

.button {
    background-color: #941750;
    border: none;
    color: #E3E2DF;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    border: 2px solid #eee;
}

body {
    background-color: #E3E2DF;
    text-align: center;
}

.h3 {
    color: #941750;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

/* Styling nav bar */
.topnav {
    background-color: #E3E2DF;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #941750;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #5D001E;
    color: #E3E2DF;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #E3AFBC;
    color: white;
}

.h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 70px;
    color: #941750;
}